.navbar-end div {
  width: 500px;
}

.text-align {
  text-align: center;
}
/* .hero-text .title,
.hero-text .subtitle {
  text-align: center;
} */
.hero-text img {
  margin: 0 213px;
}
.hero-image .image {
  height: 750px;
  width: 750px;
  border-radius: 25px;
}
